# Required container configuration.
#   ip      - static IPv4 address within incus network subnet (e.g. 10.150.19.50)
#   cpu     - number of CPU cores allocated to the container (e.g. 2)
#   memory  - memory limit with unit (e.g. "2GiB" or "512MiB")
#   nesting - optionally enable nesting to run nested virtualization inside container (default "false")
# Ensure the IP address is not already used and falls inside the subnet.
# Use 'incus network list' to find the subnet (look for "inet" address of the bridge).
#
# https://linuxcontainers.org/incus/docs/main/faq/#can-i-bind-mount-my-home-directory-in-a-container
# Optional bind mounts from host to container.
#   host_path  - existing directory on the host (use absolute path, e.g. /home/user/data)
#   mount_path - destination path inside the container (e.g. /media)
#   readonly   - set to true for read‑only access (default false)
#   shift      - enable idmapped mounts to fix permission issues
#
# https://linuxcontainers.org/incus/docs/main/reference/instance_options
#   extra_config - Optionally add extra instance options from link above
incus_instances = {
  "c1" = {
    ip      = "10.150.19.50"
    cpu     = 2
    memory  = "2GiB"
    nesting = false
    bind_mounts = [
      {
        host_path  = "/home/user/data"
        mount_path = "/media"
        readonly   = false
        shift      = true
      }
    ]
    extra_config = {
      "boot.autostart.priority" = "50"
    }
  }
  "c2" = {
    ip           = "10.150.19.51"
    cpu          = 1
    memory       = "1GiB"
    extra_config = {
      "boot.autostart.priority" = "100"
    }
  }
}

# The OS image to use for all containers. Must be a 'cloud' image (e.g. 'debian/12/cloud').
incus_image          = "debian/12/cloud"

# The name of the Incus network bridge to attach the containers to (e.g. 'incusbr0').
incus_network        = "incusbr0"

# The type of network interface for the container. Usually 'bridged'.
incus_nic_type       = "bridged"

# Name of the Incus storage pool used for container disks (e.g. default).
incus_storage_pool   = "default"

# The full text of your SSH public key (e.g. the content of ~/.ssh/id_ed25519.pub) for remote access.
# Tip: Can use this command:
# tofu apply -var="ssh_public_key=$(cat ~/.ssh/id_ed25519.pub)"
ssh_public_key       = "ssh-ed25519 AAAA... user@host"

# The name of the non-root sudo user that will be created inside the container.
username             = "incus"

# System timezone inside the container (e.g. 'Asia/Kuala_Lumpur', 'Europe/Rome'). Defaults to 'UTC'.
timezone             = "Asia/Kuala_Lumpur"
