#cloud-config
users:
  - default
  - name: ${username}
    passwd: '*'
    shell: /bin/bash
    sudo: 'ALL=(ALL) NOPASSWD:ALL'
    ssh_authorized_keys:
      - ${ssh_key}
    lock_passwd: false

package_update: true
timezone: ${timezone}
# package_upgrade: true
# package_reboot_if_required: true
# packages:
#   - curl
#   - git
#   - openssh-server
#   - python3

write_files:
  - path: /usr/local/bin/setup-lab.sh
    permissions: '0755'
    owner: root:root
    content: |
      #!/bin/bash
      set -e
      # Detect Distro
      DISTRO=$(grep -E '^ID=' /etc/os-release | cut -d= -f2 | tr -d '"')

      # install openssh-server for ssh into the container
      # install python for bootstrap with ansible
      case "$DISTRO" in
        ubuntu|debian)
          usermod -aG sudo ${username}
          apt-get update
          apt-get -y install curl git openssh-server python3
          systemctl enable --now ssh
          # systemctl start ssh
          ;;
        fedora|almalinux|rocky)
          usermod -aG wheel ${username}
          dnf -y install curl git openssh-server python3
          systemctl enable --now sshd
          # systemctl start sshd
          ;;
        arch)
          usermod -aG wheel ${username}
          pacman -Sy --noconfirm curl git openssh python
          systemctl enable --now sshd
          # systemctl start sshd
          ;;
      esac

      # install 'fuse-overlayfs' for virtualization storage.
      # E.G. For docker, '"storage-driver": "fuse-overlayfs"' inside '/etc/docker/daemon.json'
      if [ "${nesting}" = "true" ]; then
        if command -v apt-get >/dev/null; then
          apt-get update
          apt-get install -y fuse-overlayfs

        elif command -v dnf >/dev/null; then
          dnf install -y fuse-overlayfs

        elif command -v pacman >/dev/null; then
          pacman -Sy --noconfirm fuse-overlayfs
        fi
      fi
      echo "Setup complete for $DISTRO at $(date '+%a %b %-d %r %Z %Y')" > /var/log/lab-setup.log

runcmd:
  - [ "/usr/local/bin/setup-lab.sh" ]
